body {
    background-image: url('https://cdn.discordapp.com/attachments/1206374450111713321/1244702069156483172/vue-dessus-delicieux-gateaux-aux-biscuits-bonbons-colores-surface-blanche-couleur-tarte-aux-biscuits-aux-biscuits.jpg?ex=665612a2&is=6654c122&hm=78cd1e1c59a3ceb21cf0b9404558a8d7dc9c4537c62875c5b7400d5c326ef3ba&');
    background-size: cover; /* Cover the entire element */
    background-position: center; /* Center the background image */
    height: 100vh; /* Set the height of the element to the full viewport height */
}