body {
    background-image: url('https://cdn.discordapp.com/attachments/1221444018664374464/1244659328795938996/image.png?ex=6655ead4&is=66549954&hm=2cda4d202f213a2f8edafd146d427cf45bf0df658621cf1c0979669f31ac27e4&');
    background-size: cover; /* Cover the entire element */
    background-position: center; /* Center the background image */
    height: 100vh; /* Set the height of the element to the full viewport height */
}